
* {
  margin: 1rem 0.5rem;
}

:root {
  --tsf: 1.25;
  --base-size: 16px;
}

@media screen and (min-width: 992px) {
  :root {
    --base-size: 17px;
  }
}

html {
  font-size: var(--base-size);
}

h1 {
  font-size: calc(var(--base-size) * var(--tsf) * var(--tsf) * var(--tsf) * var(--tsf) * var(--tsf));
}

h2 {
  font-size: calc(var(--base-size) * var(--tsf) * var(--tsf) * var(--tsf) * var(--tsf));
}

h3 {
  font-size: calc(var(--base-size) * var(--tsf) * var(--tsf) * var(--tsf));
}

h4 {
  font-size: calc(var(--base-size) * var(--tsf) * var(--tsf));
}

h5 {
  font-size: calc(var(--base-size) * var(--tsf));
}
